html {
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-button {
  margin: 2rem;
  padding: 1rem;
  background: transparent;
  border: 0.2rem dotted rgba(0, 162, 255, 0.747);
  color: rgba(0, 162, 255, 0.747);
}

.App-loading {
  display: flex;
  justify-content: center;
}

.App-error {
  color: red;
}
